<div class="container">
    <div class="filter-block m-b60">
        <ul>
            <li><span>عن ماذا تبحث</span></li>
            <li>
                <a href="#">المناقصات</a>
            </li>
            <li>
                <a href="#">شركات</a>
            </li>
            <li>
                <a href="#">مواد البناء</a>
            </li>
            <li>
                <a href="#">الوظائف</a>
            </li>
        </ul>
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control">
            </div>
            <button type="submit" class="custom-btn">بحث </button>
        </form>
    </div>
</div><!-- filter-block -->