<div class="container">
    <div class="main-title">
        الشركات
        <a href="#" class="custom-btn">المزيد</a>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="company">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="#">
                            <img src="/../../../../assets/img/company.jpg" alt="company">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="#">إعمار</a>
                            <span>البناء والهندسة المدنية</span>
                            <ul class="info">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17.336" height="20"
                                        viewBox="0 0 17.336 20">
                                        <g id="placeholder" transform="translate(-34.093)">
                                            <g id="Group_8" data-name="Group 8" transform="translate(34.093)">
                                                <g id="Group_7" data-name="Group 7" transform="translate(0)">
                                                    <path id="Path_3" data-name="Path 3"
                                                        d="M42.761,0a8.508,8.508,0,0,0-8.668,8.318c0,6.225,7.953,11.357,8.292,11.573a.7.7,0,0,0,.752,0c.339-.215,8.292-5.348,8.292-11.573A8.508,8.508,0,0,0,42.761,0Zm0,18.453c-1.539-1.072-7.266-5.382-7.266-10.135a7.275,7.275,0,0,1,14.533,0C50.028,13.063,44.3,17.379,42.761,18.453Z"
                                                        transform="translate(-34.093)" fill="#efc640" />
                                                </g>
                                            </g>
                                            <g id="Group_10" data-name="Group 10" transform="translate(38.813 3.809)">
                                                <g id="Group_9" data-name="Group 9" transform="translate(0)">
                                                    <path id="Path_4" data-name="Path 4"
                                                        d="M158.865,97.5a3.948,3.948,0,1,0,3.949,3.949A3.953,3.953,0,0,0,158.865,97.5Zm0,6.495a2.547,2.547,0,1,1,2.547-2.546A2.549,2.549,0,0,1,158.865,104Z"
                                                        transform="translate(-154.916 -97.501)" fill="#efc640" />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    الامارات العربية المتحدة
                                    <span>دبي</span>
                                </li>
                                <li>
                                    <img src="/../../../../assets/img/stares.jpg">
                                    <span>230 مستخدم</span>
                                </li>
                            </ul>
                            <p> واحدة من مجموعات البناء الدولية الرائدة ، شركة ، تقدم مجموعة كاملة من الأنشطة المتعلقة
                                بمجالات البناء والهندسة المدنية. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End-Company -->
        <div class="col-lg-6">
            <div class="company">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="#">
                            <img src="/../../../../assets/img/company.jpg" alt="company">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="#">إعمار</a>
                            <span>البناء والهندسة المدنية</span>
                            <ul class="info">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17.336" height="20"
                                        viewBox="0 0 17.336 20">
                                        <g id="placeholder" transform="translate(-34.093)">
                                            <g id="Group_8" data-name="Group 8" transform="translate(34.093)">
                                                <g id="Group_7" data-name="Group 7" transform="translate(0)">
                                                    <path id="Path_3" data-name="Path 3"
                                                        d="M42.761,0a8.508,8.508,0,0,0-8.668,8.318c0,6.225,7.953,11.357,8.292,11.573a.7.7,0,0,0,.752,0c.339-.215,8.292-5.348,8.292-11.573A8.508,8.508,0,0,0,42.761,0Zm0,18.453c-1.539-1.072-7.266-5.382-7.266-10.135a7.275,7.275,0,0,1,14.533,0C50.028,13.063,44.3,17.379,42.761,18.453Z"
                                                        transform="translate(-34.093)" fill="#efc640" />
                                                </g>
                                            </g>
                                            <g id="Group_10" data-name="Group 10" transform="translate(38.813 3.809)">
                                                <g id="Group_9" data-name="Group 9" transform="translate(0)">
                                                    <path id="Path_4" data-name="Path 4"
                                                        d="M158.865,97.5a3.948,3.948,0,1,0,3.949,3.949A3.953,3.953,0,0,0,158.865,97.5Zm0,6.495a2.547,2.547,0,1,1,2.547-2.546A2.549,2.549,0,0,1,158.865,104Z"
                                                        transform="translate(-154.916 -97.501)" fill="#efc640" />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    الامارات العربية المتحدة
                                    <span>دبي</span>
                                </li>
                                <li>
                                    <img src="/../../../../assets/img/stares.jpg">
                                    <span>230 مستخدم</span>
                                </li>
                            </ul>
                            <p> واحدة من مجموعات البناء الدولية الرائدة ، شركة ، تقدم مجموعة كاملة من الأنشطة المتعلقة
                                بمجالات البناء والهندسة المدنية. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End-Company -->
        <div class="col-lg-6">
            <div class="company">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="#">
                            <img src="/../../../../assets/img/company.jpg" alt="company">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="#">إعمار</a>
                            <span>البناء والهندسة المدنية</span>
                            <ul class="info">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17.336" height="20"
                                        viewBox="0 0 17.336 20">
                                        <g id="placeholder" transform="translate(-34.093)">
                                            <g id="Group_8" data-name="Group 8" transform="translate(34.093)">
                                                <g id="Group_7" data-name="Group 7" transform="translate(0)">
                                                    <path id="Path_3" data-name="Path 3"
                                                        d="M42.761,0a8.508,8.508,0,0,0-8.668,8.318c0,6.225,7.953,11.357,8.292,11.573a.7.7,0,0,0,.752,0c.339-.215,8.292-5.348,8.292-11.573A8.508,8.508,0,0,0,42.761,0Zm0,18.453c-1.539-1.072-7.266-5.382-7.266-10.135a7.275,7.275,0,0,1,14.533,0C50.028,13.063,44.3,17.379,42.761,18.453Z"
                                                        transform="translate(-34.093)" fill="#efc640" />
                                                </g>
                                            </g>
                                            <g id="Group_10" data-name="Group 10" transform="translate(38.813 3.809)">
                                                <g id="Group_9" data-name="Group 9" transform="translate(0)">
                                                    <path id="Path_4" data-name="Path 4"
                                                        d="M158.865,97.5a3.948,3.948,0,1,0,3.949,3.949A3.953,3.953,0,0,0,158.865,97.5Zm0,6.495a2.547,2.547,0,1,1,2.547-2.546A2.549,2.549,0,0,1,158.865,104Z"
                                                        transform="translate(-154.916 -97.501)" fill="#efc640" />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    الامارات العربية المتحدة
                                    <span>دبي</span>
                                </li>
                                <li>
                                    <img src="/../../../../assets/img/stares.jpg">
                                    <span>230 مستخدم</span>
                                </li>
                            </ul>
                            <p> واحدة من مجموعات البناء الدولية الرائدة ، شركة ، تقدم مجموعة كاملة من الأنشطة المتعلقة
                                بمجالات البناء والهندسة المدنية. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End-Company -->
        <div class="col-lg-6">
            <div class="company">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="#">
                            <img src="/../../../../assets/img/company.jpg" alt="company">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="#">إعمار</a>
                            <span>البناء والهندسة المدنية</span>
                            <ul class="info">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17.336" height="20"
                                        viewBox="0 0 17.336 20">
                                        <g id="placeholder" transform="translate(-34.093)">
                                            <g id="Group_8" data-name="Group 8" transform="translate(34.093)">
                                                <g id="Group_7" data-name="Group 7" transform="translate(0)">
                                                    <path id="Path_3" data-name="Path 3"
                                                        d="M42.761,0a8.508,8.508,0,0,0-8.668,8.318c0,6.225,7.953,11.357,8.292,11.573a.7.7,0,0,0,.752,0c.339-.215,8.292-5.348,8.292-11.573A8.508,8.508,0,0,0,42.761,0Zm0,18.453c-1.539-1.072-7.266-5.382-7.266-10.135a7.275,7.275,0,0,1,14.533,0C50.028,13.063,44.3,17.379,42.761,18.453Z"
                                                        transform="translate(-34.093)" fill="#efc640" />
                                                </g>
                                            </g>
                                            <g id="Group_10" data-name="Group 10" transform="translate(38.813 3.809)">
                                                <g id="Group_9" data-name="Group 9" transform="translate(0)">
                                                    <path id="Path_4" data-name="Path 4"
                                                        d="M158.865,97.5a3.948,3.948,0,1,0,3.949,3.949A3.953,3.953,0,0,0,158.865,97.5Zm0,6.495a2.547,2.547,0,1,1,2.547-2.546A2.549,2.549,0,0,1,158.865,104Z"
                                                        transform="translate(-154.916 -97.501)" fill="#efc640" />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    الامارات العربية المتحدة
                                    <span>دبي</span>
                                </li>
                                <li>
                                    <img src="/../../../../assets/img/stares.jpg">
                                    <span>230 مستخدم</span>
                                </li>
                            </ul>
                            <p> واحدة من مجموعات البناء الدولية الرائدة ، شركة ، تقدم مجموعة كاملة من الأنشطة المتعلقة
                                بمجالات البناء والهندسة المدنية. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End-Company -->
        <div class="col-lg-6">
            <div class="company">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="#">
                            <img src="/../../../../assets/img/company.jpg" alt="company">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="#">إعمار</a>
                            <span>البناء والهندسة المدنية</span>
                            <ul class="info">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17.336" height="20"
                                        viewBox="0 0 17.336 20">
                                        <g id="placeholder" transform="translate(-34.093)">
                                            <g id="Group_8" data-name="Group 8" transform="translate(34.093)">
                                                <g id="Group_7" data-name="Group 7" transform="translate(0)">
                                                    <path id="Path_3" data-name="Path 3"
                                                        d="M42.761,0a8.508,8.508,0,0,0-8.668,8.318c0,6.225,7.953,11.357,8.292,11.573a.7.7,0,0,0,.752,0c.339-.215,8.292-5.348,8.292-11.573A8.508,8.508,0,0,0,42.761,0Zm0,18.453c-1.539-1.072-7.266-5.382-7.266-10.135a7.275,7.275,0,0,1,14.533,0C50.028,13.063,44.3,17.379,42.761,18.453Z"
                                                        transform="translate(-34.093)" fill="#efc640" />
                                                </g>
                                            </g>
                                            <g id="Group_10" data-name="Group 10" transform="translate(38.813 3.809)">
                                                <g id="Group_9" data-name="Group 9" transform="translate(0)">
                                                    <path id="Path_4" data-name="Path 4"
                                                        d="M158.865,97.5a3.948,3.948,0,1,0,3.949,3.949A3.953,3.953,0,0,0,158.865,97.5Zm0,6.495a2.547,2.547,0,1,1,2.547-2.546A2.549,2.549,0,0,1,158.865,104Z"
                                                        transform="translate(-154.916 -97.501)" fill="#efc640" />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    الامارات العربية المتحدة
                                    <span>دبي</span>
                                </li>
                                <li>
                                    <img src="/../../../../assets/img/stares.jpg">
                                    <span>230 مستخدم</span>
                                </li>
                            </ul>
                            <p> واحدة من مجموعات البناء الدولية الرائدة ، شركة ، تقدم مجموعة كاملة من الأنشطة المتعلقة
                                بمجالات البناء والهندسة المدنية. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End-Company -->
        <div class="col-lg-6">
            <div class="company">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="#">
                            <img src="/../../../../assets/img/company.jpg" alt="company">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="#">إعمار</a>
                            <span>البناء والهندسة المدنية</span>
                            <ul class="info">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17.336" height="20"
                                        viewBox="0 0 17.336 20">
                                        <g id="placeholder" transform="translate(-34.093)">
                                            <g id="Group_8" data-name="Group 8" transform="translate(34.093)">
                                                <g id="Group_7" data-name="Group 7" transform="translate(0)">
                                                    <path id="Path_3" data-name="Path 3"
                                                        d="M42.761,0a8.508,8.508,0,0,0-8.668,8.318c0,6.225,7.953,11.357,8.292,11.573a.7.7,0,0,0,.752,0c.339-.215,8.292-5.348,8.292-11.573A8.508,8.508,0,0,0,42.761,0Zm0,18.453c-1.539-1.072-7.266-5.382-7.266-10.135a7.275,7.275,0,0,1,14.533,0C50.028,13.063,44.3,17.379,42.761,18.453Z"
                                                        transform="translate(-34.093)" fill="#efc640" />
                                                </g>
                                            </g>
                                            <g id="Group_10" data-name="Group 10" transform="translate(38.813 3.809)">
                                                <g id="Group_9" data-name="Group 9" transform="translate(0)">
                                                    <path id="Path_4" data-name="Path 4"
                                                        d="M158.865,97.5a3.948,3.948,0,1,0,3.949,3.949A3.953,3.953,0,0,0,158.865,97.5Zm0,6.495a2.547,2.547,0,1,1,2.547-2.546A2.549,2.549,0,0,1,158.865,104Z"
                                                        transform="translate(-154.916 -97.501)" fill="#efc640" />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    الامارات العربية المتحدة
                                    <span>دبي</span>
                                </li>
                                <li>
                                    <img src="/../../../../assets/img/stares.jpg">
                                    <span>230 مستخدم</span>
                                </li>
                            </ul>
                            <p> واحدة من مجموعات البناء الدولية الرائدة ، شركة ، تقدم مجموعة كاملة من الأنشطة المتعلقة
                                بمجالات البناء والهندسة المدنية. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End-Company -->

    </div>
</div><!-- End-tenders -->