<div class="container">
    <div class="add-tender">
        <div class="add-tender-bar">
            <h3>إضافة مناقصة</h3>
            <a href="#" class="custom-btn">الغاء</a>
        </div><!-- add-tender-bar -->
        <div class="add-tender-block">
            <form>
                <div class="form-block">
                    <div class="form-group">
                        <label for="tender-name">اسم المناقصة</label>
                        <input type="text" class="form-control" id="tender-name">
                    </div>
                    <div class="form-group">
                        <label for="categories">الفئة</label>
                        <select id="inputState" class="form-control">
                            <option selected>أختر الفئة</option>
                            <option>...</option>
                            <option>...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="insurance">الرسوم والتأمين</label>
                            <input type="text" class="form-control" id="insurance">
                        </div>
                        <div class="form-group col-md-2">
                            <label>الموعد النهائي</label>
                            <select class="form-control">
                                <option selected>يوم</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label></label>
                            <select class="form-control">
                                <option selected>شهر</option>
                                <option>يناير</option>
                                <option>فبراير</option>
                                <option>مارس</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label></label>
                            <select class="form-control">
                                <option selected>سنة</option>
                                <option>2021</option>
                                <option>2020</option>
                                <option>2019</option>
                            </select>
                        </div>
                    </div>
                </div><!-- Form Block -->
                <div class="form-block">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>الدولة</label>
                            <select class="form-control">
                                <option selected>جمهورية مصر العربية</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>المدينة</label>
                            <select class="form-control">
                                <option selected>القاهرة</option>
                                <option>الاسكندرية</option>
                                <option>الاقصر</option>
                                <option>أسوان</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>المنطقة</label>
                            <select class="form-control">
                                <option selected>س</option>
                                <option>ص</option>
                                <option>ع</option>
                                <option>ل</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="custom-btn">+ أضف المكان علي الخريطة</a>
                        </div>
                        <div class="form-group">
                            <img src="/../../../assets/img/map.jpg" alt="map">
                        </div>
                    </div>
                </div><!-- Form Block -->
                <div class="form-block">
                    <div class="form-group">
                        <label for="discription">الوصف</label>
                        <textarea class="form-control" id="discription" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="condition">الشروط</label>
                        <textarea class="form-control" id="condition" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tm">العلامات التجارية</label>
                        <textarea class="form-control" id="tm" rows="2"></textarea>
                    </div>
                </div><!-- Form Block -->
                <div class="form-block">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>كراسة الشروط</h6> <a class="custom-btn">رفع الملف</a>
                            <ul>
                                <li><img src="/../../../assets/img/file.svg"> اسم الملف</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h6>ملفات أخرى</h6> <a class="custom-btn">رفع الملف</a>
                            <ul>
                                <li><img src="/../../../assets/img/file.svg"> اسم الملف</li>
                                <li><img src="/../../../assets/img/file.svg"> اسم الملف</li>
                                <li><img src="/../../../assets/img/file.svg"> اسم الملف</li>
                            </ul>
                        </div>

                    </div>
                </div><!-- Form Block -->
                <div class="form-block">
                    <div class="row">
                        <div class="col-md-4">
                            <h5>طريقة التواصل</h5>
                        </div>
                        <div class="col-md-8">

                        </div>
                    </div>
                </div><!-- Form Block -->
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div><!-- add-tender-block -->
    </div>
</div><!-- add-tender -->

<div class="container">
    <div class="add-tender-bar">
        <h3>إضافة مناقصة</h3>
    </div><!-- add-tender-bar -->
    <div class="add-tender-block">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <div class="search-box">
                    <h4>كل المناقصات
                        <span>100 مناقصة</span>
                    </h4>
                </div>
                <div class="tender">
                    <a href="#">انشاء وانجاز وصيانة مؤسسة الزكاه انشاء وانجاز وصيانة مؤسسة الزكاه</a>
                    <ul class="company">
                        <li>البناء والهندسة المدنية</li>
                        <li>رقم المناقصة
                            <span>5877847</span>
                        </li>
                    </ul>
                    <ul class="info">
                        <li>
                            <svg id="wall-clock" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 20 20">
                                <g id="Group_4" data-name="Group 4">
                                    <g id="Group_3" data-name="Group 3">
                                        <path id="Path_1" data-name="Path 1"
                                            d="M10,0A10,10,0,1,0,20,10,10.011,10.011,0,0,0,10,0Zm0,18.54A8.54,8.54,0,1,1,18.54,10,8.55,8.55,0,0,1,10,18.54Z"
                                            fill="#efc640" />
                                    </g>
                                </g>
                                <g id="Group_6" data-name="Group 6" transform="translate(8.783 4.891)">
                                    <g id="Group_5" data-name="Group 5">
                                        <path id="Path_2" data-name="Path 2"
                                            d="M229.48,130.306h-3.163v-4.38a.73.73,0,1,0-1.46,0v5.109a.73.73,0,0,0,.73.73h3.893a.73.73,0,1,0,0-1.46Z"
                                            transform="translate(-224.857 -125.197)" fill="#efc640" />
                                    </g>
                                </g>
                            </svg>
                            تاريخ النشر
                            <span>الاحد، 10 مارس 2019</span>
                        </li>
                        <li>
                            <svg id="wall-clock" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 20 20">
                                <g id="Group_4" data-name="Group 4">
                                    <g id="Group_3" data-name="Group 3">
                                        <path id="Path_1" data-name="Path 1"
                                            d="M10,0A10,10,0,1,0,20,10,10.011,10.011,0,0,0,10,0Zm0,18.54A8.54,8.54,0,1,1,18.54,10,8.55,8.55,0,0,1,10,18.54Z"
                                            fill="#efc640" />
                                    </g>
                                </g>
                                <g id="Group_6" data-name="Group 6" transform="translate(8.783 4.891)">
                                    <g id="Group_5" data-name="Group 5">
                                        <path id="Path_2" data-name="Path 2"
                                            d="M229.48,130.306h-3.163v-4.38a.73.73,0,1,0-1.46,0v5.109a.73.73,0,0,0,.73.73h3.893a.73.73,0,1,0,0-1.46Z"
                                            transform="translate(-224.857 -125.197)" fill="#efc640" />
                                    </g>
                                </g>
                            </svg>
                            الموعد النهائي
                            <span>الاحد، 10 مارس 2019</span>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.336" height="20" viewBox="0 0 17.336 20">
                                <g id="placeholder" transform="translate(-34.093)">
                                    <g id="Group_8" data-name="Group 8" transform="translate(34.093)">
                                        <g id="Group_7" data-name="Group 7" transform="translate(0)">
                                            <path id="Path_3" data-name="Path 3"
                                                d="M42.761,0a8.508,8.508,0,0,0-8.668,8.318c0,6.225,7.953,11.357,8.292,11.573a.7.7,0,0,0,.752,0c.339-.215,8.292-5.348,8.292-11.573A8.508,8.508,0,0,0,42.761,0Zm0,18.453c-1.539-1.072-7.266-5.382-7.266-10.135a7.275,7.275,0,0,1,14.533,0C50.028,13.063,44.3,17.379,42.761,18.453Z"
                                                transform="translate(-34.093)" fill="#efc640" />
                                        </g>
                                    </g>
                                    <g id="Group_10" data-name="Group 10" transform="translate(38.813 3.809)">
                                        <g id="Group_9" data-name="Group 9" transform="translate(0)">
                                            <path id="Path_4" data-name="Path 4"
                                                d="M158.865,97.5a3.948,3.948,0,1,0,3.949,3.949A3.953,3.953,0,0,0,158.865,97.5Zm0,6.495a2.547,2.547,0,1,1,2.547-2.546A2.549,2.549,0,0,1,158.865,104Z"
                                                transform="translate(-154.916 -97.501)" fill="#efc640" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            الامارات العربية المتحدة
                            <span>دبي</span>
                        </li>
                    </ul>
                </div><!-- End-tender -->
                <div class="tender">
                    <a href="#">انشاء وانجاز وصيانة مؤسسة الزكاه انشاء وانجاز وصيانة مؤسسة الزكاه</a>
                    <ul class="company">
                        <li>البناء والهندسة المدنية</li>
                        <li>رقم المناقصة
                            <span>5877847</span>
                        </li>
                    </ul>
                    <ul class="info">
                        <li>
                            <svg id="wall-clock" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 20 20">
                                <g id="Group_4" data-name="Group 4">
                                    <g id="Group_3" data-name="Group 3">
                                        <path id="Path_1" data-name="Path 1"
                                            d="M10,0A10,10,0,1,0,20,10,10.011,10.011,0,0,0,10,0Zm0,18.54A8.54,8.54,0,1,1,18.54,10,8.55,8.55,0,0,1,10,18.54Z"
                                            fill="#efc640" />
                                    </g>
                                </g>
                                <g id="Group_6" data-name="Group 6" transform="translate(8.783 4.891)">
                                    <g id="Group_5" data-name="Group 5">
                                        <path id="Path_2" data-name="Path 2"
                                            d="M229.48,130.306h-3.163v-4.38a.73.73,0,1,0-1.46,0v5.109a.73.73,0,0,0,.73.73h3.893a.73.73,0,1,0,0-1.46Z"
                                            transform="translate(-224.857 -125.197)" fill="#efc640" />
                                    </g>
                                </g>
                            </svg>
                            تاريخ النشر
                            <span>الاحد، 10 مارس 2019</span>
                        </li>
                        <li>
                            <svg id="wall-clock" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 20 20">
                                <g id="Group_4" data-name="Group 4">
                                    <g id="Group_3" data-name="Group 3">
                                        <path id="Path_1" data-name="Path 1"
                                            d="M10,0A10,10,0,1,0,20,10,10.011,10.011,0,0,0,10,0Zm0,18.54A8.54,8.54,0,1,1,18.54,10,8.55,8.55,0,0,1,10,18.54Z"
                                            fill="#efc640" />
                                    </g>
                                </g>
                                <g id="Group_6" data-name="Group 6" transform="translate(8.783 4.891)">
                                    <g id="Group_5" data-name="Group 5">
                                        <path id="Path_2" data-name="Path 2"
                                            d="M229.48,130.306h-3.163v-4.38a.73.73,0,1,0-1.46,0v5.109a.73.73,0,0,0,.73.73h3.893a.73.73,0,1,0,0-1.46Z"
                                            transform="translate(-224.857 -125.197)" fill="#efc640" />
                                    </g>
                                </g>
                            </svg>
                            الموعد النهائي
                            <span>الاحد، 10 مارس 2019</span>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.336" height="20" viewBox="0 0 17.336 20">
                                <g id="placeholder" transform="translate(-34.093)">
                                    <g id="Group_8" data-name="Group 8" transform="translate(34.093)">
                                        <g id="Group_7" data-name="Group 7" transform="translate(0)">
                                            <path id="Path_3" data-name="Path 3"
                                                d="M42.761,0a8.508,8.508,0,0,0-8.668,8.318c0,6.225,7.953,11.357,8.292,11.573a.7.7,0,0,0,.752,0c.339-.215,8.292-5.348,8.292-11.573A8.508,8.508,0,0,0,42.761,0Zm0,18.453c-1.539-1.072-7.266-5.382-7.266-10.135a7.275,7.275,0,0,1,14.533,0C50.028,13.063,44.3,17.379,42.761,18.453Z"
                                                transform="translate(-34.093)" fill="#efc640" />
                                        </g>
                                    </g>
                                    <g id="Group_10" data-name="Group 10" transform="translate(38.813 3.809)">
                                        <g id="Group_9" data-name="Group 9" transform="translate(0)">
                                            <path id="Path_4" data-name="Path 4"
                                                d="M158.865,97.5a3.948,3.948,0,1,0,3.949,3.949A3.953,3.953,0,0,0,158.865,97.5Zm0,6.495a2.547,2.547,0,1,1,2.547-2.546A2.549,2.549,0,0,1,158.865,104Z"
                                                transform="translate(-154.916 -97.501)" fill="#efc640" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            الامارات العربية المتحدة
                            <span>دبي</span>
                        </li>
                    </ul>
                </div><!-- End-tender -->
                <div class="tender">
                    <a href="#">انشاء وانجاز وصيانة مؤسسة الزكاه انشاء وانجاز وصيانة مؤسسة الزكاه</a>
                    <ul class="company">
                        <li>البناء والهندسة المدنية</li>
                        <li>رقم المناقصة
                            <span>5877847</span>
                        </li>
                    </ul>
                    <ul class="info">
                        <li>
                            <svg id="wall-clock" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 20 20">
                                <g id="Group_4" data-name="Group 4">
                                    <g id="Group_3" data-name="Group 3">
                                        <path id="Path_1" data-name="Path 1"
                                            d="M10,0A10,10,0,1,0,20,10,10.011,10.011,0,0,0,10,0Zm0,18.54A8.54,8.54,0,1,1,18.54,10,8.55,8.55,0,0,1,10,18.54Z"
                                            fill="#efc640" />
                                    </g>
                                </g>
                                <g id="Group_6" data-name="Group 6" transform="translate(8.783 4.891)">
                                    <g id="Group_5" data-name="Group 5">
                                        <path id="Path_2" data-name="Path 2"
                                            d="M229.48,130.306h-3.163v-4.38a.73.73,0,1,0-1.46,0v5.109a.73.73,0,0,0,.73.73h3.893a.73.73,0,1,0,0-1.46Z"
                                            transform="translate(-224.857 -125.197)" fill="#efc640" />
                                    </g>
                                </g>
                            </svg>
                            تاريخ النشر
                            <span>الاحد، 10 مارس 2019</span>
                        </li>
                        <li>
                            <svg id="wall-clock" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 20 20">
                                <g id="Group_4" data-name="Group 4">
                                    <g id="Group_3" data-name="Group 3">
                                        <path id="Path_1" data-name="Path 1"
                                            d="M10,0A10,10,0,1,0,20,10,10.011,10.011,0,0,0,10,0Zm0,18.54A8.54,8.54,0,1,1,18.54,10,8.55,8.55,0,0,1,10,18.54Z"
                                            fill="#efc640" />
                                    </g>
                                </g>
                                <g id="Group_6" data-name="Group 6" transform="translate(8.783 4.891)">
                                    <g id="Group_5" data-name="Group 5">
                                        <path id="Path_2" data-name="Path 2"
                                            d="M229.48,130.306h-3.163v-4.38a.73.73,0,1,0-1.46,0v5.109a.73.73,0,0,0,.73.73h3.893a.73.73,0,1,0,0-1.46Z"
                                            transform="translate(-224.857 -125.197)" fill="#efc640" />
                                    </g>
                                </g>
                            </svg>
                            الموعد النهائي
                            <span>الاحد، 10 مارس 2019</span>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.336" height="20" viewBox="0 0 17.336 20">
                                <g id="placeholder" transform="translate(-34.093)">
                                    <g id="Group_8" data-name="Group 8" transform="translate(34.093)">
                                        <g id="Group_7" data-name="Group 7" transform="translate(0)">
                                            <path id="Path_3" data-name="Path 3"
                                                d="M42.761,0a8.508,8.508,0,0,0-8.668,8.318c0,6.225,7.953,11.357,8.292,11.573a.7.7,0,0,0,.752,0c.339-.215,8.292-5.348,8.292-11.573A8.508,8.508,0,0,0,42.761,0Zm0,18.453c-1.539-1.072-7.266-5.382-7.266-10.135a7.275,7.275,0,0,1,14.533,0C50.028,13.063,44.3,17.379,42.761,18.453Z"
                                                transform="translate(-34.093)" fill="#efc640" />
                                        </g>
                                    </g>
                                    <g id="Group_10" data-name="Group 10" transform="translate(38.813 3.809)">
                                        <g id="Group_9" data-name="Group 9" transform="translate(0)">
                                            <path id="Path_4" data-name="Path 4"
                                                d="M158.865,97.5a3.948,3.948,0,1,0,3.949,3.949A3.953,3.953,0,0,0,158.865,97.5Zm0,6.495a2.547,2.547,0,1,1,2.547-2.546A2.549,2.549,0,0,1,158.865,104Z"
                                                transform="translate(-154.916 -97.501)" fill="#efc640" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            الامارات العربية المتحدة
                            <span>دبي</span>
                        </li>
                    </ul>
                </div><!-- End-tender -->
                <div class="tender">
                    <a href="#">انشاء وانجاز وصيانة مؤسسة الزكاه انشاء وانجاز وصيانة مؤسسة الزكاه</a>
                    <ul class="company">
                        <li>البناء والهندسة المدنية</li>
                        <li>رقم المناقصة
                            <span>5877847</span>
                        </li>
                    </ul>
                    <ul class="info">
                        <li>
                            <svg id="wall-clock" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 20 20">
                                <g id="Group_4" data-name="Group 4">
                                    <g id="Group_3" data-name="Group 3">
                                        <path id="Path_1" data-name="Path 1"
                                            d="M10,0A10,10,0,1,0,20,10,10.011,10.011,0,0,0,10,0Zm0,18.54A8.54,8.54,0,1,1,18.54,10,8.55,8.55,0,0,1,10,18.54Z"
                                            fill="#efc640" />
                                    </g>
                                </g>
                                <g id="Group_6" data-name="Group 6" transform="translate(8.783 4.891)">
                                    <g id="Group_5" data-name="Group 5">
                                        <path id="Path_2" data-name="Path 2"
                                            d="M229.48,130.306h-3.163v-4.38a.73.73,0,1,0-1.46,0v5.109a.73.73,0,0,0,.73.73h3.893a.73.73,0,1,0,0-1.46Z"
                                            transform="translate(-224.857 -125.197)" fill="#efc640" />
                                    </g>
                                </g>
                            </svg>
                            تاريخ النشر
                            <span>الاحد، 10 مارس 2019</span>
                        </li>
                        <li>
                            <svg id="wall-clock" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 20 20">
                                <g id="Group_4" data-name="Group 4">
                                    <g id="Group_3" data-name="Group 3">
                                        <path id="Path_1" data-name="Path 1"
                                            d="M10,0A10,10,0,1,0,20,10,10.011,10.011,0,0,0,10,0Zm0,18.54A8.54,8.54,0,1,1,18.54,10,8.55,8.55,0,0,1,10,18.54Z"
                                            fill="#efc640" />
                                    </g>
                                </g>
                                <g id="Group_6" data-name="Group 6" transform="translate(8.783 4.891)">
                                    <g id="Group_5" data-name="Group 5">
                                        <path id="Path_2" data-name="Path 2"
                                            d="M229.48,130.306h-3.163v-4.38a.73.73,0,1,0-1.46,0v5.109a.73.73,0,0,0,.73.73h3.893a.73.73,0,1,0,0-1.46Z"
                                            transform="translate(-224.857 -125.197)" fill="#efc640" />
                                    </g>
                                </g>
                            </svg>
                            الموعد النهائي
                            <span>الاحد، 10 مارس 2019</span>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.336" height="20" viewBox="0 0 17.336 20">
                                <g id="placeholder" transform="translate(-34.093)">
                                    <g id="Group_8" data-name="Group 8" transform="translate(34.093)">
                                        <g id="Group_7" data-name="Group 7" transform="translate(0)">
                                            <path id="Path_3" data-name="Path 3"
                                                d="M42.761,0a8.508,8.508,0,0,0-8.668,8.318c0,6.225,7.953,11.357,8.292,11.573a.7.7,0,0,0,.752,0c.339-.215,8.292-5.348,8.292-11.573A8.508,8.508,0,0,0,42.761,0Zm0,18.453c-1.539-1.072-7.266-5.382-7.266-10.135a7.275,7.275,0,0,1,14.533,0C50.028,13.063,44.3,17.379,42.761,18.453Z"
                                                transform="translate(-34.093)" fill="#efc640" />
                                        </g>
                                    </g>
                                    <g id="Group_10" data-name="Group 10" transform="translate(38.813 3.809)">
                                        <g id="Group_9" data-name="Group 9" transform="translate(0)">
                                            <path id="Path_4" data-name="Path 4"
                                                d="M158.865,97.5a3.948,3.948,0,1,0,3.949,3.949A3.953,3.953,0,0,0,158.865,97.5Zm0,6.495a2.547,2.547,0,1,1,2.547-2.546A2.549,2.549,0,0,1,158.865,104Z"
                                                transform="translate(-154.916 -97.501)" fill="#efc640" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            الامارات العربية المتحدة
                            <span>دبي</span>
                        </li>
                    </ul>
                </div><!-- End-tender -->
                <div class="tender">
                    <a href="#">انشاء وانجاز وصيانة مؤسسة الزكاه انشاء وانجاز وصيانة مؤسسة الزكاه</a>
                    <ul class="company">
                        <li>البناء والهندسة المدنية</li>
                        <li>رقم المناقصة
                            <span>5877847</span>
                        </li>
                    </ul>
                    <ul class="info">
                        <li>
                            <svg id="wall-clock" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 20 20">
                                <g id="Group_4" data-name="Group 4">
                                    <g id="Group_3" data-name="Group 3">
                                        <path id="Path_1" data-name="Path 1"
                                            d="M10,0A10,10,0,1,0,20,10,10.011,10.011,0,0,0,10,0Zm0,18.54A8.54,8.54,0,1,1,18.54,10,8.55,8.55,0,0,1,10,18.54Z"
                                            fill="#efc640" />
                                    </g>
                                </g>
                                <g id="Group_6" data-name="Group 6" transform="translate(8.783 4.891)">
                                    <g id="Group_5" data-name="Group 5">
                                        <path id="Path_2" data-name="Path 2"
                                            d="M229.48,130.306h-3.163v-4.38a.73.73,0,1,0-1.46,0v5.109a.73.73,0,0,0,.73.73h3.893a.73.73,0,1,0,0-1.46Z"
                                            transform="translate(-224.857 -125.197)" fill="#efc640" />
                                    </g>
                                </g>
                            </svg>
                            تاريخ النشر
                            <span>الاحد، 10 مارس 2019</span>
                        </li>
                        <li>
                            <svg id="wall-clock" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 20 20">
                                <g id="Group_4" data-name="Group 4">
                                    <g id="Group_3" data-name="Group 3">
                                        <path id="Path_1" data-name="Path 1"
                                            d="M10,0A10,10,0,1,0,20,10,10.011,10.011,0,0,0,10,0Zm0,18.54A8.54,8.54,0,1,1,18.54,10,8.55,8.55,0,0,1,10,18.54Z"
                                            fill="#efc640" />
                                    </g>
                                </g>
                                <g id="Group_6" data-name="Group 6" transform="translate(8.783 4.891)">
                                    <g id="Group_5" data-name="Group 5">
                                        <path id="Path_2" data-name="Path 2"
                                            d="M229.48,130.306h-3.163v-4.38a.73.73,0,1,0-1.46,0v5.109a.73.73,0,0,0,.73.73h3.893a.73.73,0,1,0,0-1.46Z"
                                            transform="translate(-224.857 -125.197)" fill="#efc640" />
                                    </g>
                                </g>
                            </svg>
                            الموعد النهائي
                            <span>الاحد، 10 مارس 2019</span>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.336" height="20" viewBox="0 0 17.336 20">
                                <g id="placeholder" transform="translate(-34.093)">
                                    <g id="Group_8" data-name="Group 8" transform="translate(34.093)">
                                        <g id="Group_7" data-name="Group 7" transform="translate(0)">
                                            <path id="Path_3" data-name="Path 3"
                                                d="M42.761,0a8.508,8.508,0,0,0-8.668,8.318c0,6.225,7.953,11.357,8.292,11.573a.7.7,0,0,0,.752,0c.339-.215,8.292-5.348,8.292-11.573A8.508,8.508,0,0,0,42.761,0Zm0,18.453c-1.539-1.072-7.266-5.382-7.266-10.135a7.275,7.275,0,0,1,14.533,0C50.028,13.063,44.3,17.379,42.761,18.453Z"
                                                transform="translate(-34.093)" fill="#efc640" />
                                        </g>
                                    </g>
                                    <g id="Group_10" data-name="Group 10" transform="translate(38.813 3.809)">
                                        <g id="Group_9" data-name="Group 9" transform="translate(0)">
                                            <path id="Path_4" data-name="Path 4"
                                                d="M158.865,97.5a3.948,3.948,0,1,0,3.949,3.949A3.953,3.953,0,0,0,158.865,97.5Zm0,6.495a2.547,2.547,0,1,1,2.547-2.546A2.549,2.549,0,0,1,158.865,104Z"
                                                transform="translate(-154.916 -97.501)" fill="#efc640" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            الامارات العربية المتحدة
                            <span>دبي</span>
                        </li>
                    </ul>
                </div><!-- End-tender -->
            </div>

        </div>
    </div><!-- add-tender-block -->

</div><!-- All-tender -->