@import '../../../assets/css/variables';
.login-block{
    border-radius: 8px;
    box-shadow:#ababab 0px 5px 20px;
    padding: 35px 100px;
    display: block;
    width:60%;
    margin:80px auto;
    h3{
        text-align: center;
        margin-bottom: 40px;
        font-weight: 700;
    }
    form{
        .form-group{
            label{
                margin-bottom: 15px;
            }
            .form-control{
                background-color: #FAFAFA !important;
                border: 1px solid #DEDEDE;
                text-align: right;
                height: 50px;
            }
            a{
                float: left;
                color: $black-color;
            }
        }
        .custom-btn{
            display: block;
            width: 100%;
            color: $black-color;
            padding: 7px 50px;
        }
        hr{
            margin: 25px -100px;
        }
        .form-footer{
            h5{
                display: inline-block;
                font-weight: 700;
            }
            .custom-btn{
                float: left;
                background-color: $black-color;
                color: $yellow-color;
                width: auto;
                &:hover{
                    color: $black-color;
                    border: 1px solid $black-color;
                }
            }
        }
    }
}