<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="/../../../assets/img/logo.png" alt="linkaat">
                <p>لنكات هو أول موقع الكتروني يمثل أكبر تجمع للعملاء والشركات في مجال التشييد<br>والبناء حيث يمكنك تسويق
                    وتقديم
                    وتبادل الخدمات مع جميع مستخدمي الموقع
                </p>
            </div>
            <div class="col-lg-2">
                <h6>حول لينكات</h6>
                <ul>
                    <li>
                        <a href="#">من نحن</a>
                    </li>
                    <li>
                        <a href="#">اتصل بنا</a>
                    </li>
                    <li>
                        <a href="#">الأخبار</a>
                    </li>
                    <li>
                        <a href="#">منصة الإستعلامات</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h6>تواصل معنا</h6>
                <ul>
                    <li>
                        customer@lenkat.com
                    </li>
                    <li>
                        +9655123458
                    </li>
                    <li>
                        27 جميرا دبي <br>
                        الإمارات العربية المتحدة
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h6>خريطة الموقع</h6>
                <ul>
                    <li>
                        <a href="#">الرئيسية</a>
                    </li>
                    <li>
                        <a href="#">المناقصات</a>
                    </li>
                    <li>
                        <a href="#">الشركات</a>
                    </li>
                    <li>
                        <a href="#">موادالبناء</a>
                    </li>
                    <li>
                        <a href="#">الوظائف</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer><!-- End-footer -->
<div class="bootom-footer">
    <div class="container">
        <p>جميع الحقوق محفوظة لدى موقع لينكات @2021</p>
        <ul class="social">
            <li>
                <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li>
                <a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a>
            </li>
            <li>
                <a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a>
            </li>
            <li>
                <a href="#" target="_blank"><i class="fab fa-snapchat-square"></i></a>
            </li>
        </ul>
    </div>
</div><!-- End bootom-footer -->